#include <windows.h>
IDI_ICON1 ICON "ayplayer.ico"
1 RT_MANIFEST "ayplayer.manifest"
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 0,1,0,0
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904b0"
  BEGIN
   VALUE "FileDescription", "C++Ay\0"
   VALUE "FileVersion", "0.1.0-rc.1\0"
   VALUE "ProductName", "C++Ay\0"
   VALUE "ProductVersion", "0.1.0-rc.1\0"
   VALUE "OriginalFilename", "C++Ay.exe\0"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x409, 1200
 END
END
